.card-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    max-width: 1200px;
}

@media (max-width: 900px) {
    .card-container{
	display: grid;
	grid-template-columns: auto auto;
    }
}

@media (max-width: 600px) {
    .card-container {
	display: grid;
	grid-template-columns: auto;
    }
	
}