.App{
  background-color:rgb(0,30,60);
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-content-container {
  width: 100vw;
  justify-content: center;
  margin-top:-51px;
}

.App-content {
  max-width: 1000px;
  margin-right:auto;
  margin-left:auto;
  margin-top: 51px;
  padding-top:51px;
}

.sort-tag {
  border: solid white 1px;
  height: 20px;
  padding: 1px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 5px;
  cursor:pointer;
  font-size: calc(5px + 2vmin);
}

@media (max-width: 600px) {

}